/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/data
/var/data/*
!var/data/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/web/bundles/
/web/js/
/web/cache/
/web/tinymce

/vendor/
/node_modules
/bower_components
/src/typings
