/web/bundles/
/web/js/
/web/css/
/web/fonts/
/web/media/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
/media/
/test/
/.idea/
