parameters:
    docker_name:       start

    database_driver:   pdo_mysql
    database_host:     "mysql.%docker_name%"
    database_port:     3306
    database_name:     ~
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_encryption: ~
    mailer_auth_mode:  ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    locales:           [fr, en]
    secret:            ThisTokenIsNotSoSecretChangeIt

    cache:             file_system
    wkhtmltopdf_path:  /usr/bin/wkhtmltopdf

    debug_toolbar:          true
    debug_redirects:        false

    reverse_proxy.enable: false
    reverse_proxy.host: 127.0.0.1
    reverse_proxy.port: 80

    redis.host: "redis.%dockername%"
    redis.port: 6379

    elasticsearch.host: "elasticsearch.%dockername%"
    elasticsearch.port: 9200
    elasticsearch.index_name: ~

    error_report_mail: support@ekyna.com
