{% extends "WebBundle:Page:default.html.twig" %}

{% block breadcrumb -%}
    <div class="container">
        {% include "EkynaCoreBundle:Ui:flashes.html.twig" %}
    </div>
{%- endblock breadcrumb %}
