<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block header_logo %}
                <a class="navbar-brand" href="{{ path('home') }}">
                    Accueil
                    {#<img src="/bundles/web/img/logo-foire.jpg" alt="{{ get_setting('general.site_name') }}" class="img-responsive">#}
                </a>
            {% endblock header_logo %}
        </div>
        <div class="navbar-collapse collapse">
            {% block header_nav %}
                {{ cms_menu('main', {'style': 'navbar'}) }}
            {% endblock header_nav %}
        </div>
    </div>
</div>