{% extends "WebBundle::root.html.twig" %}

{% block body %}

    {% block header %}
        {% include "WebBundle:Layout:header.html.twig" %}
    {% endblock header %}

    {% block containers %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block breadcrumb %}{{ cms_breadcrumb() }}{% endblock breadcrumb %}
                {% block flashes %}{{ cms_flashes() }}{% endblock flashes %}

                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
    {% endblock containers %}

{% endblock body %}