{% extends "WebBundle::root.html.twig" %}

{% block body %}

    {% block header %}
        {% include "WebBundle:Fragment:navbar.html.twig" %}
    {% endblock header %}

    {% block containers %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block breadcrumb %}{{ cms_breadcrumb() }}{% endblock breadcrumb %}
                    {% block flashes %}
                        {%- include "EkynaCoreBundle:Ui:flashes.html.twig" -%}
                    {% endblock flashes %}
                </div>
            </div>
        </div>

        {% block content %}{% endblock content %}

    {% endblock containers %}

{% endblock body %}


{#{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">
        require(['web/shop/product'], function (p) {
            p.thumbHandlers();
        });
    </script>
{%- endblock javascripts %}#}
